/* Estilo padrão do campo de data */
#data {
    border: 2px solid #ced4da;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}
/* Estilo para campo inválido */
.is-invalid {
    border-color: red;
    background-color: #f8d7da;
    color: #721c24;
}

/* Estilo para campo válido */
.is-valid {
    border-color: green;
    background-color: #d4edda;
    color: #155724;
}
